<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">Marko Morrison</h1>
    <p>
    <span class="reserved">char</span> nick[<span class="number">8</span>] = <span class="string">"{{ site.nick }}"</span>;
    </p>
    <p>
    printf(<a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">"https://{{ site.source_code.server }}/%s"</span></a>,nick)
    </p>
    <!-- <p>
      <span class="reserved">char</span> interest[<span class="number">5</span>] = <span class="string">"cyber"</span>;
    </p> -->
    <p>
    print(<a href="mailto:mpmorris@andrew.cmu.edu"><span class="string">"mpmorris@andrew.cmu.edu"</span></a>);
    </p>
    <!-- <p>
            printf(<a href="https://{{ site.blog.nick }}.{{ site.blog.server }}" target="_blank"><span class="string">"https://<span class="reserved">%s</span>.{{ site.blog.server }}<span class="reserved">\n</span>"</span></a>,nick);
        </p> -->
    <p>
    puts(<a href="{{ site.url }}{{ site.baseurl }}misc/pubkey.gpg.txt" target="_blank"><span class="string">"58829B20BB59BDF8F2E0331E23AC1C8074BF029D"</span></a>);
    </p>
  </div>
</header>

{% include menu.html %}
